# PIXILAB Blocks configuration. Changes require server restart to apply.

# Root path where Blocks finds all its data.
# IUMPORTANT:
# If you use NGINX as reverse proxy and to serve static content, remember
# to update its configuration as well if you change the root path. NGINX'
# config file is typically located at /etc/nginx/sites-enabled
root: /home/blocks/PIXILAB-Blocks-root

# Where to go when accessing the server origin with no path
serverRootRedirect: /spot/?mobile=Mob1

# Configure server security. The settings below are appropriate when using NGINX
# as a reverse proxy along with letsencrypt (or other) SSL certificate to provide
# HTTPS access to the server. If you're not do so, replace the word internalForm
# below with internalDigest for slightly improved security.
server:
  type: pixilab_server
  requireHttps: false
  applicationConnectors:
    - type: http
      useForwardedHeaders: true
  auth:
    servlet:
      security:
        - matchers: internalMatcher
          authorizers: isAuthenticated
          clients: internalForm  # internalDigest internalForm OidcClient

# Log detailed metrics with some reasonable frequency
#metrics:
#  frequency: 1 day
#  reporters:
#    - type: log
#      logger: metrics

logging:
  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: WARN
  loggers:        # Logger-specific levels
    Realm: WARN   # Logging from Tasks regardless of realm
    Script: WARN  # Logging for scripts/drivers
    metrics: INFO # To make metrics appear
