# PIXILAB Blocks configuration. Changes require server restart to apply.

root: /home/blocks/PIXILAB-Blocks-root

# Where to go when accessing server root
serverRootRedirect: /spot/?mobile=Mob1

# Configure server security.
# We're using nginx to handle (and enforce) HTTPS, so no need to bother Blocks with that.
# Specify use of form authentication, allowing for "log-out" functionality.
server:
  type: pixilab_server
  requireHttps: false
  auth:
    servlet:
      security:
        - matchers: internalMatcher
          authorizers: isAuthenticated
          clients: internalForm  # internalDigest internalForm OidcClient

# Log detailed metrics with some reasonable frequency
#metrics:
#  frequency: 1 day
#  reporters:
#    - type: log
#      logger: metrics

logging:
  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: WARN
  loggers:        # Logger-specific levels
    Realm: WARN   # Logging from Tasks regardless of realm
    Script: WARN  # Logging for scripts/drivers
    metrics: INFO # To make metrics appear
