# Common cloud environment variables for Blocks. Loaded by EnvironmentFile in the unit file

# Specify 'DISPLAY=:0' to show GUI window or 'DISPLAY=' for headless start
DISPLAY=

# LC_CTYPE must be set to access file with diacritical characters in names
LC_CTYPE=en_US.UTF-8

# Java VM options used for Blocks. You may want to add -Xmx option to expand the heap size
BLOCKS_VM_OPTIONS=-noverify -Xdump:none -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath="/home/blocks/PIXILAB-Blocks-root/logs" --illegal-access=permit

# Command line options to be passed to Blocks
BLOCKS_OPTIONS=
