# Common cloud environment variables for Blocks. Loaded by EnvironmentFile in the unit file

# Specify 'DISPLAY=:0' to show GUI window or 'DISPLAY=' for headless start
DISPLAY=

# LC_CTYPE must be set to access file with diacritical characters in names
LC_CTYPE=en_US.UTF-8

# Java VM options used for Blocks. You may want to tweak -Xmx option to adjust the heap size
BLOCKS_VM_OPTIONS=-noverify \
--illegal-access=permit \
-Dfile.encoding=UTF-8 \
-Xmx2G \
-XX:+HeapDumpOnOutOfMemoryError \
-XX:HeapDumpPath="/home/blocks/PIXILAB-Blocks-root/logs"

# Command line options to be passed to Blocks
BLOCKS_OPTIONS=
