[Unit]
Description=CodeMeter command attempting to make sure its service is up

[Service]
Type=oneshot
# Network shared or local wibu-key: Attempt to find license server on network repeatedly until it succeeds
#ExecStart=/bin/sh -c 'while ! cmu --list-network --all-servers --firmcode=102977 | grep -q "License:"; do sleep 1; done'

# Cloud key:
#ExecStart=/bin/sh -c 'while ! cmu --list-network --firmcode=6001849 | grep -q "License:"; do sleep 1; done'

# Any local key (physical or cloud)
ExecStart=/bin/sh -c 'while ! cmu --list | grep -q "Serial Number"; do sleep 1; done'

TimeoutStartSec=30s

# Give a few more seconds to ensure fully awake
ExecStartPost=/bin/sleep 5
