[Unit]
Description=PIXILAB Blocks Server
After=cmstart.service default.target
Wants=cmstart.service
StartLimitIntervalSec=0
StartLimitBurst=10

[Service]

# Misc common env vars
EnvironmentFile=%h/.config/systemd/user/blocks.service.config

StandardOutput=null
WorkingDirectory=%h
KillSignal=SIGINT
TimeoutStopSec=20
Restart=on-failure
RestartSec=5
LimitNOFILE=5000

ExecStart=/usr/bin/java \
        -Djava.library.path=%h/native:/usr/java/packages/lib:/usr/lib64:/lib64:/lib:/usr/lib \
        $BLOCKS_VM_OPTIONS \
        -jar %h/PIXILAN.jar $BLOCKS_OPTIONS

[Install]
WantedBy=default.target
